*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;
	margin-left: calc(100vw - 100%);
	margin-right: 0;
	font-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	word-spacing: normal;
	letter-spacing: normal;
	min-height: 100%;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

blockquote,
q {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	quotes: none;
	vertical-align: baseline;
	background: transparent;
	
	&:before,
	&:after {
		content: '';
	}
}

ins {
	text-decoration: none;
}

mark {
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

ul,
ol,
dl {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	list-style: none;
}

a {
	-webkit-text-decoration-skip: objects;
	vertical-align: middle;
	text-decoration: none;
	outline: none;
	background: transparent;
	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
}
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	height: auto;
	border: 0 none;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

svg {
	fill: currentColor;
	vertical-align: middle;
	&:not(:root) {
		overflow: hidden;
	}
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	*zoom: 1;
	max-width: 100%;
	height: auto;
}

audio {
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
template,
[hidden] {
	display: none;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
}

b,
strong {
	font-weight: bolder;
}

dfn {
	font-style: normal;
}

big {
	font-size: 120%;
}

small {
	font-size: 80%;
}

legend {
	border: 0;
	padding: 0;
}

hr {
	box-sizing: content-box;
	overflow: visible;
}

pre {
	overflow: auto;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

// $$ Form
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input {
	outline: 0;
	vertical-align: middle;
	line-height: normal;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}
	&[type="checkbox"],
	&[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}
	&[type="text"] {
		-moz-appearance: textflied;
		-webkit-appearance: textflied;
		appareance: textflied;
	}
	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}
	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}
	&[type="search"] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	&[type="search"]::-webkit-search-cancel-button,
	&[type="search"]::-webkit-search-decoration {
		display: none;
	}
}

select {
	outline: 0;
	vertical-align: middle;
	&[multiple] {
		vertical-align: top;
	}
	&::-ms-expand {
		display: none;
	}
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	overflow: visible;
	width: auto;
	outline: none;
	cursor: pointer;
	border: 0;
	background: transparent;
	&::-webkit-file-upload-button {
		padding: 0;
		border: 0;
		background: none;
	}
}

progress {
	vertical-align: baseline;
}

button,
html input {
	margin: 0;
	&::-moz-focus-inner,
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	&:-moz-focusring,
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

optgroup,
select,
textarea {
	margin: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

[hidden] {
	display: none;
}

[disabled],
[readonly] {
	cursor: default;
}