//---------------
//$$ Animations
//---------------
.effect__content {
	overflow: hidden;
}
//---------------
//$$ Generic effects
//---------------
.animation--reverse {
	animation-direction: reverse !important;
	animation-timing-function: ease-in !important;
}
// $$ Fade
@keyframes animation-fade--out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

// $$ Translate
@keyframes animation-direction--up {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}
@keyframes animation-direction--down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

// $$ BTN Ripple effect
//$$ Ripple animation
@keyframes animation-effect--ripple {
	0% {
		opacity: 0.8;
		transform: scale(0, 0);
	}
	100% {
		opacity: 0;
		transform: scale(20, 20);
	}
}
.effect--ripple {
	//BTN
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: .5rem;
		height: .5rem;
		opacity: 0;
		border-radius: 16rem;
		background: rgba(255, 255, 255, .5);
		transform: scale (1, 1) translate(-50%);
		transform-origin: 50% 50%;
	}
	&:focus:not(:active)::after {
		animation: animation-effect--ripple;
		animation-duration: $animation-speed-slow;
		transition-timing-function: ease-out;
	}
}