/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin clearfix() {
	zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		visibility: hidden;
		clear: both;
		font-size: 0;
		height: 0;
	}
}

@mixin bottom--fix {
	position: fixed;
	bottom: 0;
	margin: auto 0 0 0;
}

@mixin footer--fix {
	width: 100%;
	@include bottom--fix;
	height: $height-footer;
	margin: - $height-footer auto 0; /*footer height*/
}

@mixin img--rwd {
	max-width: 100%;
	height: auto;
	position: relative;
}