//$$ vars
//$$ Colors
$color-tooltip-txt: white;
$color-tooltip-bg: black;

//$$ Position default
// Top
$tooltip-position-top-top : -2.5rem;
$tooltip-position-top-top : 25%;
//Left
$tooltip-position-left-top : 5%;
$tooltip-position-left-left : -85%;
//Right
$tooltip-position-left-top : 5%;
$tooltip-position-right-right : -85%;
//buttom
$tooltip-position-left-top : 5%;
$tooltip-position-right-right : -85%;


@mixin tooltip($tooltip-position:"buttom" ) {
	position: relative;
	&:hover {
		&:after {
			content: attr(data-tooltip);
			position: absolute;
			z-index: 999;
			display: flex;
			padding: .5rem;
			margin: .25rem;
			font-size: .75rem;
			white-space: nowrap;
			pointer-events: none;
			border-radius: .33rem;
			color: $color-tooltip-txt;
			background: $color-tooltip-bg;
			@if $tooltip-position == "top" {
				top: -2.5rem;
				left: 25%;
			} @else if $tooltip-position == "right" {
				top: 5%;
				right: -85%;
			} @else if $tooltip-position == "buttom" {
			
			} @else if $tooltip-position == "left" {
				top: 5%;
				left: -85%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			z-index: 999;
			width: 0;
			height: 0;
			margin-left: 50%;
			margin-left: calc(50% - 0.5rem);
			pointer-events: none;
			@if $tooltip-position == "top" {
				top: -50%;
				border-top: .5rem solid $color-tooltip-bg;
				border-right: .5rem solid transparent;
				border-left: .5rem solid transparent;
			} @else if $tooltip-position == "right" {
				top: 5%;
				right: -.33rem; //Fallback
				border-top: .5rem solid transparent;
				border-right: .5rem solid $color-tooltip-bg;
				border-bottom: .5rem solid transparent;
			} @else if $tooltip-position == "buttom" {
				top: 100%;
				left: 49%; //Fallback
				left: calc(50% - .75rem);
				border-right: .5rem solid transparent;
				border-bottom: .5rem solid $color-tooltip-bg;
				border-left: .5rem solid transparent;
			} @else if $tooltip-position == "left" {
				top: 35%;
				left: -.75rem; //Fallback
				border-top: .5rem solid transparent;
				border-bottom: .5rem solid transparent;
				border-left: .5rem solid $color-tooltip-bg;
			}
		}
	}
}

// Usage:
//.tooltip {
//	@include tooltip;
//}
// HTML
// <a class="tooltip" data-tooltip="Hello world" href="#" >