//---------------
//$$ Example
// Please delete before to start your project
//---------------
body {
	color: colors-app(grey, dark);
	background: colors-app(grey, ligth);
}

[class^="grid"] {
	padding: 1rem;
	text-align: center;
	border: 1px solid colors-app(grey, ligth);
	background: colors-app(grey);
}

footer {
	padding: 1rem;
	clear: both;
	color: colors-app(black);
	background: colors-app(grey);
	[class^="grid"]{
		border: none;
	}
}



