/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  height: 100%;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  font-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  margin: 0;
  padding: 0;
  word-spacing: normal;
  letter-spacing: normal;
  min-height: 100%;
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

blockquote,
q {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  quotes: none;
  vertical-align: baseline;
  background: transparent; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: ''; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul,
ol,
dl {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  list-style: none; }

a {
  -webkit-text-decoration-skip: objects;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  background: transparent; }
  a:hover, a:active, a:focus {
    outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  height: auto;
  border: 0 none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg {
  fill: currentColor;
  vertical-align: middle; }
  svg:not(:root) {
    overflow: hidden; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
  max-width: 100%;
  height: auto; }

audio:not([controls]) {
  display: none;
  height: 0; }

template,
[hidden] {
  display: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: normal; }

big {
  font-size: 120%; }

small {
  font-size: 80%; }

legend {
  border: 0;
  padding: 0; }

hr {
  box-sizing: content-box;
  overflow: visible; }

pre {
  overflow: auto; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

input {
  outline: 0;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  input::-ms-clear, input::-ms-reveal {
    display: none; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  input[type="text"] {
    -moz-appearance: textflied;
    -webkit-appearance: textflied;
    appareance: textflied; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    display: none; }

select {
  outline: 0;
  vertical-align: middle; }
  select[multiple] {
    vertical-align: top; }
  select::-ms-expand {
    display: none; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  overflow: visible;
  width: auto;
  outline: none;
  cursor: pointer;
  border: 0;
  background: transparent; }
  button::-webkit-file-upload-button,
  html input[type="button"]::-webkit-file-upload-button,
  input[type="reset"]::-webkit-file-upload-button,
  input[type="submit"]::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none; }

progress {
  vertical-align: baseline; }

button,
html input {
  margin: 0; }
  button::-moz-focus-inner, button::-moz-focus-inner,
  html input::-moz-focus-inner,
  html input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button:-moz-focusring, button:-moz-focusring,
  html input:-moz-focusring,
  html input:-moz-focusring {
    outline: 1px dotted ButtonText; }

optgroup,
select,
textarea {
  margin: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

[hidden] {
  display: none; }

[disabled],
[readonly] {
  cursor: default; }

/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
.effect__content {
  overflow: hidden; }

.animation--reverse {
  animation-direction: reverse !important;
  animation-timing-function: ease-in !important; }

@keyframes animation-fade--out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes animation-direction--up {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes animation-direction--down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes animation-effect--ripple {
  0% {
    opacity: 0.8;
    transform: scale(0, 0); }
  100% {
    opacity: 0;
    transform: scale(20, 20); } }
.effect--ripple {
  position: relative;
  overflow: hidden; }
  .effect--ripple::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: .5rem;
    height: .5rem;
    opacity: 0;
    border-radius: 16rem;
    background: rgba(255, 255, 255, 0.5);
    transform: scale 1, 1 translate(-50%);
    transform-origin: 50% 50%; }
  .effect--ripple:focus:not(:active)::after {
    animation: animation-effect--ripple;
    animation-duration: 0.75s;
    transition-timing-function: ease-out; }

body {
  overflow-x: hidden; }

body.footer--fix {
  padding-bottom: 5rem; }
  body.footer--fix footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto 0 0 0;
    height: 5rem;
    margin: -5rem auto 0;
    /*footer height*/ }

main {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

input[type=checkbox] + label[for] {
  cursor: pointer; }
input[type=rario] + label[for] {
  cursor: pointer; }
input[type=search] {
  box-sizing: border-box; }
input:disabled {
  opacity: 0.8;
  filter: Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  pointer-events: none; }
input[readonly] {
  opacity: 0.8;
  filter: Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  pointer-events: none; }

textarea {
  resize: vertical; }
  textarea:disabled {
    opacity: 0.8;
    filter: Alpha(Opacity=80);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    pointer-events: none; }
  textarea[readonly] {
    opacity: 0.8;
    filter: Alpha(Opacity=80);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    pointer-events: none; }

::-moz-selection {
  color: #FFF;
  background: #000; }

::selection {
  color: #FFF;
  background: #000; }

.title {
  font-family: "Roboto Slab", serif; }

h1.title {
  font-size: 2rem; }

h2.title {
  font-size: 1.875rem; }

h3.title {
  font-size: 1.75rem; }

h4.title {
  font-size: 1.5rem; }

h5.title {
  font-size: 1.375rem; }

h6.title {
  font-size: 1.125rem; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

p {
  line-height: 120%; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

i {
  font-style: italic; }

del {
  text-decoration: line-through; }

big {
  font-size: 120%; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

footer {
  overflow: hidden;
  background: #F1F1F1; }

/*
* GrillaCSS Flex v1.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
.wrapper {
  zoom: 1;
  display: block;
  overflow: hidden;
  width: 1200px;
  padding: 0;
  margin: 0 auto; }
  .wrapper:before {
    content: "";
    display: table; }
  .wrapper:after {
    content: " ";
    display: table;
    visibility: hidden;
    clear: both;
    font-size: 0;
    height: 0; }

.row, .row--rev, .row--colum, .row--colum-rev, .row--gutter {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  width: 100%; }
  .row--rev {
    flex-direction: row-reverse; }
  .row--colum {
    flex-direction: column; }
  .row--colum-rev {
    flex-direction: column-reverse; }
  .row--gutter > [class^="grid"] {
    padding-left: 8px;
    padding-right: 8px; }
    .row--gutter > [class^="grid"]:first-child {
      padding-left: 0; }
    .row--gutter > [class^="grid"]:last-child {
      padding-right: 0; }

.grid-desktop--1 {
  width: 8.33333%; }

.grid-desktop--2 {
  width: 16.66667%; }

.grid-desktop--3 {
  width: 25%; }

.grid-desktop--4 {
  width: 33.33333%; }

.grid-desktop--5 {
  width: 41.66667%; }

.grid-desktop--6 {
  width: 50%; }

.grid-desktop--7 {
  width: 58.33333%; }

.grid-desktop--8 {
  width: 66.66667%; }

.grid-desktop--9 {
  width: 75%; }

.grid-desktop--10 {
  width: 83.33333%; }

.grid-desktop--11 {
  width: 91.66667%; }

.grid-desktop--12 {
  width: 100%; }

.grid-center--1 {
  width: 8.33333%;
  margin: 0 auto; }

.grid-center--2 {
  width: 16.66667%;
  margin: 0 auto; }

.grid-center--3 {
  width: 25%;
  margin: 0 auto; }

.grid-center--4 {
  width: 33.33333%;
  margin: 0 auto; }

.grid-center--5 {
  width: 41.66667%;
  margin: 0 auto; }

.grid-center--6 {
  width: 50%;
  margin: 0 auto; }

.grid-center--7 {
  width: 58.33333%;
  margin: 0 auto; }

.grid-center--8 {
  width: 66.66667%;
  margin: 0 auto; }

.grid-center--9 {
  width: 75%;
  margin: 0 auto; }

.grid-center--10 {
  width: 83.33333%;
  margin: 0 auto; }

.grid-center--11 {
  width: 91.66667%;
  margin: 0 auto; }

.grid-center--12 {
  width: 100%;
  margin: 0 auto; }

.grid-offset--1 {
  margin-left: 8.33333%; }

.grid-offset--2 {
  margin-left: 16.66667%; }

.grid-offset--3 {
  margin-left: 25%; }

.grid-offset--4 {
  margin-left: 33.33333%; }

.grid-offset--5 {
  margin-left: 41.66667%; }

.grid-offset--6 {
  margin-left: 50%; }

.grid-offset--7 {
  margin-left: 58.33333%; }

.grid-offset--8 {
  margin-left: 66.66667%; }

.grid-offset--9 {
  margin-left: 75%; }

.grid-offset--10 {
  margin-left: 83.33333%; }

.grid-offset--11 {
  margin-left: 91.66667%; }

.grid-fifth {
  flex-basis: 20%; }
  .grid-fifth--center {
    flex-basis: 20%;
    margin: 0 auto; }

.grid-fifth-offset--1 {
  margin-left: 20%; }

.grid-fifth-offset--2 {
  margin-left: 40%; }

.grid-fifth-offset--3 {
  margin-left: 60%; }

.grid-fifth-offset--4 {
  margin-left: 80%; }

.grid-100 {
  flex: 1 0 auto; }

.grid-auto {
  flex: 0 1 auto; }

.only--desktop {
  display: block; }
.only--tablet, .only--mobile {
  display: none; }

.not--desktop {
  display: none; }

@media only screen and (max-width: 1199px) {
  .wrapper {
    width: 100%; }

  .grid-desktop-small--1 {
    width: 8.33333%; }

  .grid-desktop-small--2 {
    width: 16.66667%; }

  .grid-desktop-small--3 {
    width: 25%; }

  .grid-desktop-small--4 {
    width: 33.33333%; }

  .grid-desktop-small--5 {
    width: 41.66667%; }

  .grid-desktop-small--6 {
    width: 50%; }

  .grid-desktop-small--7 {
    width: 58.33333%; }

  .grid-desktop-small--8 {
    width: 66.66667%; }

  .grid-desktop-small--9 {
    width: 75%; }

  .grid-desktop-small--10 {
    width: 83.33333%; }

  .grid-desktop-small--11 {
    width: 91.66667%; }

  .grid-desktop-small--12 {
    width: 100%; } }
@media only screen and (max-width: 1025px) {
  .wrapper {
    max-width: 1024px; }

  .grid-tablet--1 {
    width: 8.33333%; }

  .grid-tablet--2 {
    width: 16.66667%; }

  .grid-tablet--3 {
    width: 25%; }

  .grid-tablet--4 {
    width: 33.33333%; }

  .grid-tablet--5 {
    width: 41.66667%; }

  .grid-tablet--6 {
    width: 50%; }

  .grid-tablet--7 {
    width: 58.33333%; }

  .grid-tablet--8 {
    width: 66.66667%; }

  .grid-tablet--9 {
    width: 75%; }

  .grid-tablet--10 {
    width: 83.33333%; }

  .grid-tablet--11 {
    width: 91.66667%; }

  .grid-tablet--12 {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px; }

  .grid-tablet-portrait--1 {
    width: 8.33333%; }

  .grid-tablet-portrait--2 {
    width: 16.66667%; }

  .grid-tablet-portrait--3 {
    width: 25%; }

  .grid-tablet-portrait--4 {
    width: 33.33333%; }

  .grid-tablet-portrait--5 {
    width: 41.66667%; }

  .grid-tablet-portrait--6 {
    width: 50%; }

  .grid-tablet-portrait--7 {
    width: 58.33333%; }

  .grid-tablet-portrait--8 {
    width: 66.66667%; }

  .grid-tablet-portrait--9 {
    width: 75%; }

  .grid-tablet-portrait--10 {
    width: 83.33333%; }

  .grid-tablet-portrait--11 {
    width: 91.66667%; }

  .grid-tablet-portrait--12 {
    width: 100%; } }
@media only screen and (max-width: 550px) {
  .wrapper {
    max-width: 550px; }

  .grid-mobile--1 {
    width: 8.33333%; }

  .grid-mobile--2 {
    width: 16.66667%; }

  .grid-mobile--3 {
    width: 25%; }

  .grid-mobile--4 {
    width: 33.33333%; }

  .grid-mobile--5 {
    width: 41.66667%; }

  .grid-mobile--6 {
    width: 50%; }

  .grid-mobile--7 {
    width: 58.33333%; }

  .grid-mobile--8 {
    width: 66.66667%; }

  .grid-mobile--9 {
    width: 75%; }

  .grid-mobile--10 {
    width: 83.33333%; }

  .grid-mobile--11 {
    width: 91.66667%; }

  .grid-mobile--12 {
    width: 100%; } }
@media only screen and (min-width: 10px) and (max-width: 400px) {
  .wrapper {
    max-width: 100% !important; }

  .row > [class^="grid"], .row--rev > [class^="grid"], .row--colum > [class^="grid"], .row--colum-rev > [class^="grid"], .row--gutter > [class^="grid"] {
    flex-basis: 100%;
    margin-left: 0 !important; }

  .row--gutter > [class^="grid"] {
    width: 100%;
    margin-left: 0 !important; }

  .mobile-grid--1 {
    width: 8.33333% !important; }

  .mobile-grid--2 {
    width: 16.66667% !important; }

  .mobile-grid--3 {
    width: 25% !important; }

  .mobile-grid--4 {
    width: 33.33333% !important; }

  .mobile-grid--5 {
    width: 41.66667% !important; }

  .mobile-grid--6 {
    width: 50% !important; }

  .mobile-grid--7 {
    width: 58.33333% !important; }

  .mobile-grid--8 {
    width: 66.66667% !important; }

  .mobile-grid--9 {
    width: 75% !important; }

  .mobile-grid--10 {
    width: 83.33333% !important; }

  .mobile-grid--11 {
    width: 91.66667% !important; }

  .mobile-grid--12 {
    width: 100% !important; } }
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .only--desktop {
    display: none !important; }
  .only--tablet {
    display: block !important; }

  .not--tablet {
    display: none !important; }
  .not--desktop {
    display: block !important; } }
@media only screen and (max-width: 767px) {
  .only--mobile {
    display: block; }
  .only--desktop {
    display: none; }
  .only--tablet {
    display: none !important; }

  .not--mobile {
    display: none !important; }
  .not--desktop {
    display: block !important; } }
/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
.screen-only {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

[aria-hidden=true] {
  visibility: hidden; }

[role=button] {
  cursor: pointer; }

/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/
.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    visibility: hidden;
    clear: both;
    font-size: 0;
    height: 0; }

img.responsive {
  width: 100%;
  height: auto; }

body {
  color: #545454;
  background: #F1F1F1; }

[class^="grid"] {
  padding: 1rem;
  text-align: center;
  border: 1px solid #F1F1F1;
  background: #BDBDBD; }

footer {
  padding: 1rem;
  clear: both;
  color: #000;
  background: #BDBDBD; }
  footer [class^="grid"] {
    border: none; }

/*# sourceMappingURL=main.css.map */
