//---------------
//$$ Examples
//---------------
// Try: https://github.com/danlevan/google-material-color/blob/master/dist/palette.scss

$color-swatches: (
		white: (
				'default' : rgb(255,255,255),
		),
		black: (
				'default' : #000,
		),
	// $$ Grays
		gray: (
				'default' : #BDBDBD,
				'dark'    : #545454,
				'ligth'   : #F1F1F1,
		),
	// $$ Orange
		orange: (
				'default': rgb(220, 115, 55),
				'dark'   : rgb(185, 125, 85),
				'ligth'  : rgb(230, 170, 65),
		),
	// $$ Green
		green: (
				'default': #8BC34A,
				'dark'   : #33691E,
				'ligth'  : lightgreen,
		),
	// $$ Blue
		blue: (
				'default': hsl(205, 92%, 50%),
				'dark'   : hsl(205, 92%, 30%),
				'ligth'  : hsl(205, 92%, 70%),
		)
);

$white: #FFF;
$black: #000;
// $$ Color map
//@function colors-app($tone, $shade: default) {
//	$swatchMap: map-get($swatches, $tone);
//	$result:  map-get($swatchMap, $shade);
//	@return $result;
//}

// Usage:
// background: colors-app(blue, "dark");