/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/

//---------------
//$$ Root unit
//---------------
$unit:     16;
$unit-app: $unit * 1px;

// $$ Desktop screen resolution
$screen-full:     100%;
$screen-standard: 1200px;
$screen-s:        960px;
$screen-m:        1300px;
//---------------
//$$ Grid and Responsive
//---------------
$grid-cols:             12;
$desktop:               1200px; //$screen-standard;
$desktop-small:         800px;
$desktop-100:           100%;
$tablet-landscape:      1024px;
$tablet-portrait:       768px;
$mobile-landscape:      550px;
$mobile-portrait:       400px;
$mobile-portrait-small: 320px;
$gutter-width:          $unit-app/2;

//---------------
//$$ App
//---------------

//$$ Footer
//for footer fix
$height-footer: 5rem; //To change