/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/


//---------------
//$$ Fonts
//---------------

//$$ Google Fonts
// https://fonts.google.com
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$roboto:      'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

//$$ Font Variables
$font-family-app:     $roboto;
$font-family-heading: $roboto-slab;

//$$ Font weight
$light:  200;
$normal: 400;
$bold:   600;
$bolder: 700;