/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/

//---------------
// $$ Accessibility
//----------------

//$$ Screen reader only
.screen-only {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

//$$ Icon Aria hidden
[aria-hidden=true] {
	visibility: hidden;
}

[role=button] {
	cursor: pointer
}