/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/

//---------------
//$$ Utilities
//---------------
.clearfix {
	@include clearfix;
}

img.responsive {
	width: 100%;
	height: auto;
}
