/*
* GrillaCSS v2.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/


//---------------
//$$ Breakpoints
//---------------
@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
		@content;
	}
}

@mixin print {
	@media print {
		@content;
	}
}

@mixin aural {
	@media aural {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $mobile-portrait - 1px) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape - 1px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $media-tablet) and (max-width: $tablet-landscape - 1px) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (max-width: $tablet-landscape) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $tablet-landscape + 1px) {
		@content;
	}
}

@mixin print {
	@media print {
		*,
		*:before,
		*:after,
		*:first-letter,
		p:first-line,
		div:first-line,
		blockquote:first-line,
		li:first-line {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}
		a,
		a:visited {
			text-decoration: underline;
		}
		a[href]:after {
			content: " (" attr(href) ")";
		}
		abbr[title]:after {
			content: " (" attr(title) ")";
		}
		a[href^="#"]:after,
		a[href^="javascript:"]:after {
			content: "";
		}
		pre {
			white-space: pre-wrap !important;
		}
		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}
		thead {
			display: table-header-group;
		}
		tr,
		img {
			page-break-inside: avoid;
		}
		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}
		h2,
		h3 {
			page-break-after: avoid;
		}
		@content;
	}
}