/*
* GrillaCSS Flex v1.0
* Copyright 2017 - Dinael URDANETA
* www.grillacss.dinael.com
*/

.wrapper {
	@include clearfix;
	display: block;
	overflow: hidden;
	width: $desktop;
	padding: 0;
	margin: 0 auto;
}
//---------------
//$$ Grid system
//---------------
//$$ Row

.row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
	width: 100%;
	&--rev {
		@extend .row;
		flex-direction: row-reverse;
	}
	&--colum {
		@extend .row;
		flex-direction: column;
	}
	&--colum-rev {
		@extend .row;
		flex-direction: column-reverse;
	}
	&--gutter {
		@extend .row;
		& > [class^="grid"] {
			padding-left: $gutter-width;
			padding-right: $gutter-width;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

//$$ Columns
@for $i from 1 through $grid-cols {
	.grid-desktop--#{$i} {
		width: ((100/$grid-cols) * $i) *1%;
	}
}

@for $i from 1 through $grid-cols {
	.grid-center--#{$i} {
		width: ((100/$grid-cols) * $i) *1%;
		margin: 0 auto;
	}
}

@for $i from 1 through ($grid-cols)-1 {
	.grid-offset--#{($i)} {
		margin-left: ((100/$grid-cols) * $i) *1%;
	}
}

//$$  Fifths / 5 columns
.grid-fifth {
	flex-basis: 20%;
	&--center {
		flex-basis: 20%;
		margin: 0 auto;
	}
}

@for $i from 1 through 4 {
	.grid-fifth-offset--#{($i)} {
		margin-left: 20% * ($i);
	}
}

//$$ special behaviors
.grid-100 {
	flex: 1 0 auto;
}
.grid-auto {
	flex: 0 1 auto;
}

//$$ show & hide by devices
.only {
	&--desktop {
		display: block;
	}
	&--tablet,
	&--mobile {
		display: none;
	}
}

.not {
	&--desktop {
		display: none;
	}
}

//---------------
//$$ Media queries
//---------------
@media only screen and (max-width: $desktop - 1) {
	.wrapper {
		width: 100%;
	}
	@for $i from 1 through $grid-cols {
		.grid-desktop-small--#{$i} {
			width: ((100/$grid-cols) * $i) *1%;
		}
	}
}

@media only screen and (max-width: $tablet-landscape + 1) {
	.wrapper {
		max-width: $tablet-landscape;
	}
	@for $i from 1 through $grid-cols {
		.grid-tablet--#{$i} {
			width: ((100/$grid-cols) * $i) *1%;
		}
	}
}

@media only screen and (max-width: $tablet-portrait) {
	.wrapper {
		max-width: $tablet-portrait;
	}
	@for $i from 1 through $grid-cols {
		.grid-tablet-portrait--#{$i} {
			width: ((100/$grid-cols) * $i) *1%;
		}
	}
}

@media only screen and (max-width: $mobile-landscape) {
	.wrapper {
		max-width: $mobile-landscape;
	}
	@for $i from 1 through $grid-cols {
		.grid-mobile--#{$i} {
			width: ((100/$grid-cols) * $i) *1%;
		}
	}
}

@media only screen and (min-width: 10px) and (max-width: $mobile-portrait) {
	.wrapper {
		max-width: 100% !important;
	}
	.row > [class^="grid"] {
		flex-basis: 100%;
		margin-left: 0 !important;
	}
	.row--gutter > [class^="grid"] {
		width: 100%;
		margin-left: 0 !important;
	}
	@for $i from 1 through ($grid-cols) {
		.mobile-grid--#{$i} {
			width: ((100/$grid-cols) * $i) *1% !important;
		}
	}
}

@media only screen and (min-width: $tablet-portrait - 1) and (max-width: $tablet-landscape) {
	.only {
		&--desktop {
			display: none !important;
		}
		&--tablet {
			display: block !important;
		}
	}
	.not {
		&--tablet {
			display: none !important;
		}
		
		&--desktop {
			display: block !important;
		}
	}
}

@media only screen and (max-width: $tablet-portrait - 1) {
	.only {
		&--mobile {
			display: block;
		}
		&--desktop {
			display: none;
		}
		&--tablet {
			display: none !important;
		}
	}
	.not {
		&--mobile {
			display: none !important;
		}
		&--desktop {
			display: block !important;
		}
	}
}