//---------------
//$$ Heading tag
//---------------
h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

//---------------
//$$ Headings title
//---------------
.title {
	font-family: $font-family-heading;
}

h1.title {
	font-size: 2rem;
}

h2.title {
	font-size: 1.875rem;
}

h3.title {
	font-size: 1.75rem;
}

h4.title {
	font-size: 1.5rem;
}

h5.title {
	font-size: 1.375rem;
}

h6.title {
	font-size: 1.125rem;
}
